body {
  margin: 0;
  min-height: 100vh;
  background: #f7dff0;
  font-family: Arial, sans-serif;
}

.game-wrapper {
  text-align: center;
  padding: 20px 0;
}

h1 {
  font-size: 32px;
  margin-bottom: 90px;
}

.tamagotchi {
  position: relative;
  width: 360px;
  max-width: 95vw;
  margin: 0 auto;
}

.case {
  width: 100%;
  display: block;
  image-rendering: pixelated;
}

.screen {
  position: absolute;

  /* Adjust these 4 values if needed */
  left: 102px;
  top: 126px;
  width: 156px;
  height: 128px;

  overflow: hidden;
}

.scene {
  position: relative;
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: pixelated;
}

.cat {
  position: absolute;
  width: 95px;

  left: 50%;
  bottom: 8px;

  transform: translateX(-50%);
  image-rendering: pixelated;
}

.stats {
  margin: 90px auto 0;
  background: white;
  padding: 28px 24px;
  border-radius: 22px;
  width: 320px;
  max-width: 85vw;
}

.stat {
  margin: 16px 0;
  font-size: 20px;
}

.bar {
  height: 14px;
  background: #ddd;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 6px;
}

.fill {
  height: 100%;
  width: 70%;
  background: #ff7ac3;
}

.coins {
  margin-top: 22px;
  font-size: 20px;
  font-weight: bold;
}

.buttons {
  margin: 28px auto 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 22px;
  width: 360px;
  max-width: 90vw;
}

button {
  padding: 16px;
  border: none;
  border-radius: 10px;
  background: #555;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background: #333;
}